# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*

# --------------------------
# Git
# --------------------------

.git
.gitconfig

# --------------------------
# Node
# --------------------------

node_modules
npm-shrinkwrap.json
npm-debug.log

# --------------------------
# Other
# --------------------------

*.bak
*.tmp
*.swp
.idea
.DS_Store
ehthumbs.db
Thumbs.db
Icon?

# --------------------------
# Project
# --------------------------

/cache
/logs

